Sticktility-pcb/~Adafruit KB2040.kicad_sch.lck
Sticktility-pcb/~_autosave-Adafruit KB2040.kicad_pcb.lck
Sticktility-pcb/usb-c.pretty/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_sch
Sticktility-pcb/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pro
Sticktility-pcb/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_prl
Sticktility-pcb/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pcb
Sticktility-pcb/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad-backups/SparkFun_Qwiic_Directional_Pad-2025-05-27_104044.zip
Sticktility-pcb/SparkFun_Qwiic_Directional_Pad_v1_1/fp-info-cache
Sticktility-pcb/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/library/SSD1306.3dshapes/OLED I2C 1.3 Inch Display v16.step
Sticktility-pcb/library/SSD1306.3dshapes/OLED I2C 1.3 Inch Display v16 With Headers.step
Sticktility-pcb/library/SSD1306.3dshapes/OLED I2C 0.96 Inch Display.step
Sticktility-pcb/library/SSD1306.3dshapes/OLED I2C 0.96 Inch Display With Headers.step
Sticktility-pcb/library/SSD1306-128x64_OLED.lib
Sticktility-pcb/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/library/SSD1306-128x64_OLED.dcm
Sticktility-pcb/kb2040.pretty/kb2040.kicad_mod
Sticktility-pcb/kb2040.kicad_sym
Sticktility-pcb/fp-info-cache
Sticktility-pcb/DPAD.pretty/TSSOP-16_4.4x5mm_P0.65mm.kicad_mod
Sticktility-pcb/DPAD.pretty/SparkFun_Logo_8mm.kicad_mod
Sticktility-pcb/DPAD.pretty/R_0603_1608Metric.kicad_mod
Sticktility-pcb/DPAD.pretty/qwiic_5.5mm.kicad_mod
Sticktility-pcb/DPAD.pretty/OSHW_Logo_2.5mm.kicad_mod
Sticktility-pcb/DPAD.pretty/Navigation_SMD_9.9x9.9mm.kicad_mod
Sticktility-pcb/DPAD.pretty/LED_1205_RGB_Bottom.kicad_mod
Sticktility-pcb/DPAD.pretty/LED_0603_1608Metric_Red.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-67117BDD.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66F18F9B.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66F18F8F.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66F18F5E.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66F182A6.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7B7C.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7B78.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7B1E.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7B15.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7AEF.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7AE6.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7A24.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7A0B.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF7A03.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF79E9.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF55AC.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF559E.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EF5597.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-66EED5D2.kicad_mod
Sticktility-pcb/DPAD.pretty/kibuzzard-64C2E6A3.kicad_mod
Sticktility-pcb/DPAD.pretty/Jumper_3_NC-2_Trace.kicad_mod
Sticktility-pcb/DPAD.pretty/Jumper_2_NO.kicad_mod
Sticktility-pcb/DPAD.pretty/Jumper_2_NC_Trace.kicad_mod
Sticktility-pcb/DPAD.pretty/JST_SMD_1.0mm-4_RA.kicad_mod
Sticktility-pcb/DPAD.pretty/Fiducial_0.5mm_Mask1mm.kicad_mod
Sticktility-pcb/DPAD.pretty/Creative_Commons_License.kicad_mod
Sticktility-pcb/DPAD.pretty/C_0603_1608Metric.kicad_mod
Sticktility-pcb/D-pad.kicad_sym
Sticktility-pcb/batt-charger.pretty/MODULE_2465.kicad_mod
Sticktility-pcb/batt-charger.pretty/.DS_Store
Sticktility-pcb/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040.kicad_pcb
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_193024.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_180055.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_171745.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_171200.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_165841.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pcb
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/TSSOP-16_4.4x5mm_P0.65mm.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/SparkFun_Logo_8mm.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/R_0603_1608Metric.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/qwiic_5.5mm.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/OSHW_Logo_2.5mm.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/Navigation_SMD_9.9x9.9mm.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/LED_1205_RGB_Bottom.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/LED_0603_1608Metric_Red.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-67117BDD.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66F18F9B.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66F18F8F.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66F18F5E.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66F182A6.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7B7C.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7B78.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7B1E.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7B15.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7AEF.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7AE6.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7A24.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7A0B.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF7A03.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF79E9.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF55AC.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF559E.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EF5597.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-66EED5D2.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/kibuzzard-64C2E6A3.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/Jumper_3_NC-2_Trace.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/Jumper_2_NO.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/Jumper_2_NC_Trace.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/JST_SMD_1.0mm-4_RA.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/Fiducial_0.5mm_Mask1mm.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/Creative_Commons_License.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/DPAD.pretty/C_0603_1608Metric.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/D-pad.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_104518/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pcb
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/D-pad.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_085717/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/D-pad.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pcb
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/SparkFun_Qwiic_Directional_Pad_v1_1/SparkFun_Qwiic_Directional_Pad.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_102253/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-27_103650/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_153429/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_181058/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/kb2040.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/library/SSD1306-128x64_OLED.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/library/SSD1306.pretty/128x64OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/library/SSD1306.pretty/GME12864_OLED.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/MODULE_2465.kicad_mod
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_182806/UJ31-CH-G-SMT-TR-67.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355.zip
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/2465.kicad_sym
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/Adafruit KB2040.kicad_prl
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/Adafruit KB2040.kicad_pro
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_184355/Adafruit KB2040.kicad_sch
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523.zip
Sticktility-pcb/Adafruit KB2040-backups/.DS_Store
Sticktility-pcb/_autosave-Adafruit KB2040.kicad_sch
Sticktility-pcb/_autosave-Adafruit KB2040.kicad_pcb
Sticktility-pcb/2465.kicad_sym
Sticktility-pcb/.DS_Store
Sticktility-pcb/\#auto_saved_files\#
Sticktility-pcb/Adafruit KB2040-backups/Adafruit KB2040-2025-05-26_152523/CUI_UJ31-CH-G-SMT-TR-67.kicad_mod
.DS_Store
